@use "../globals" as *;

footer {
    // grid-column: -1;
    // grid-row: 1;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 0 0 1px var(--primary-faded);
    p {
        flex-grow: 1;
        text-align: center;
        color: #26939f;
    }
    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 1rem;
        color: #a42843;
        a:hover {
            transition: color 150ms;
            color: var(--text-faded);
        }
    }
    li {
        box-shadow: inset 0 0 0 1px var(--primary-faded);
        padding: 0.6rem 1rem;
    }
}

