header {
    grid-area: header;
    width: 100%;
    padding: 0.5rem 1rem;

    background-color: rgba(32, 32, 32, 0.6);
    border-radius: 1rem;

    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#eg-logo {
    width: 2rem;
}