.about-me {
    article {
        // background-color: rgb(176 66 90 / 27%);
        padding: 1rem;
        border-radius: 1rem;
    }
    h3 {
        font-size: 1.4em;
        font-weight: 400;
    }
}