@use "../globals" as *;

.landing {
    grid-area: 1 / 1 / -1 / -1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: none;

    @include break-at("thin") {
        box-shadow: inset 0 0 0 1px var(--primary-faded);
        padding: 1rem;
        gap: 1.4rem;
        justify-content: flex-start;
        .slanted {
            text-align: center;
        }
    }

    div {
        align-items: center;
        width: 100%;
        gap: 1.4rem;
    }
    p {
        width: 100%;
    }
    .typing > .animated-text {
        @include break-at("medium") {
            text-align: center !important;
        }
    }
    h2 {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .greeting-container {
        width: 100%;
        text-align: center;
        
        .animated-text {
            @include break-at("thin") {
                margin: 0 auto;
                transform-origin: center;
            }
        }
    }

    #eg-logo {
        margin: 0 auto;
        width: 3rem;
        @include break-at("thin") {
            margin: 2rem auto 0 auto;
        }
    }
}