#root {
    padding: 1rem;
    min-height: 100vh;

    display: grid;
    grid-template-areas: "header" "main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;

    background-color: #282724;

    align-items: center;
    justify-items: center;
}

main {
    grid-area: main;
    height: 100%;
    width: 100%;
    
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #202020;

    img {
        width: calc(100% + 4em);
        transform: translateX(-2em);
    }

    & > p {
        font-size: 1rem;
    }
}

aside {
    position: fixed;
}