#root {
    padding: 1rem;
    min-height: 100vh;

    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
    gap: 1rem;

    background-image: linear-gradient(45deg, #702535, #124a4d)

    // align-items: center;
    // justify-items: center;
}

main {
    grid-area: main;
    width: 100%;
    
    z-index: 0; // create new stacking context (for canvas)
    position: relative; // for absolute canvas positioning
    overflow: hidden;
    padding: 2rem;
    

    &>div {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    border-radius: 1rem;

    img {
        width: calc(100% + 4em);
        transform: translateX(-2em);
    }

    p {
        font-size: 1rem;
    }
}

aside {
    position: fixed;
}