@use "../globals" as *;

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

// REFACTOR: Interferes with master layout

// #root {
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//     align-items: stretch;
//     justify-content: center;
// }

p, ol, ul, h1 {
    text-align: center;
    @include break-at("medium") {
        text-align: left;
        align-self: flex-start;
    }
}

.wip-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2em 1em;
    gap: 1em;
    @include break-at("medium") {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

.greeting-container {
    @include break-at("medium") {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

.hsep {
    margin: 0 auto;
    @include break-at("medium") {
        margin: 0;
    }
}

// .icon-button {
//     margin: 0 auto;
//     display: flex;
//     align-items: stretch;
//     p {
//         height: 100%;
//     }
//     @include break-at("medium") {
//         position: absolute;
//         left: 6rem;
//         top: 6rem;
//     }
// }

// .icon-button {
//     margin-bottom: 1em;
    
// }

p {
    text-align: center;
    white-space: pre-wrap;
    @include break-at("medium") {
        text-align: left;
    }
}

li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
    ul, ol {
        &::before, &::after {
            content: " — "
        }
        @include break-at("medium") {
            &::after {
                content: "";
            }
        }
    }
    
    a {
        display: inline;
    }
}

.slanted {
    font-style: italic;
    &::before {content:"↓  "}
    &::after {content:"  ↓"}
    @include break-at("medium") {
        margin-left: 6rem;
        &::after {content: ""}
    }
}