html {
    box-sizing: border-box;
} *, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: "Archivo", sans-serif;
    display: flex;
    justify-content: stretch;
    min-height: 100vh;
} h1, h2, h3, p {
    margin: 0;
    line-height: 1.3;
} a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
} a:hover {
    text-decoration: underline;
} ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}