@use "theme" as *;

body {
    background-color: #121212;
}

a {
    color: var(--text-bright);
}

strong {
    font-weight: 240;
    font-family: "Archivo", sans-serif;
    letter-spacing: 0.015em;
    font-size: 0.95em;
}