html {
    box-sizing: border-box;
    min-height: 100vh;
    overflow: auto;
} 
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    min-height: 100vh;
    overflow: hidden;
} h1, h2, h3, p {
    margin: 0;
    font-size: .8rem;
} 

li {
    list-style: none;
    ul, ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
