@use "theme" as *;

body {
    background-color: #121212;
}

a {
    color: var(--text-bright);
}

strong {
    font-weight: 300;
    font-family: "Archivo Expanded", sans-serif;
    font-size: 0.9em;
}