:root {
    --primary-faded: hsl(0deg 58% 96% / 9%);
    --primary-solid: #5311d0a8;
    --primary-bright: hsl(64deg 73% 53%);
    --text-basic: hsl(0deg 58% 96%);
    --text-faded: hsl(186deg 32% 54%);
    --text-bright: hsl(186deg 48% 68%);
    --accent-faded: hsl(173deg 55% 20%);
    --background: linear-gradient(45deg, #260909, #20131f);
    --hamburger-background: linear-gradient(
        hsl(186deg 32% 54% / 70%),
        hsl(173deg 55% 20% / 40%));
}