:root {
    --primary-faded: #9d26412e;
    --primary-solid: #a42843;
    --primary-bright: #df3169;
    --text-basic: #fbf0f0;
    --text-faded: #3daab6;
    --text-bright: #67d8e5;
    --background: linear-gradient(45deg, #260909, #20131f);
    --hamburger-background: linear-gradient(
        rgb(55 150 127 / 90%), 
        rgb(80 115 80 / 40%));
}