:root {
    --accent-faded: #9d26412e;
    --accent-solid: #a42843;
    --accent-bright: #df3169;
    --text-basic: #fbf0f0;
    // --text-faded: #4fb4bf;
    --text-faded: #3daab6;
    --background: linear-gradient(45deg, #260909, #20131f);
}