@use "mixins" as *;
@use "theme" as *;

body {
    font-family: "Karla", sans-serif;
    line-height: 1.4;
    font-weight: 300;
    color: var(--text-basic);
}

h1, h2, h3,
h4, h5, h6 {
    font-family: "Archivo Expanded", sans-serif;
    font-weight: 700;
}

p {
    font-size: .85rem;
    letter-spacing: 0.012em;
    @include break-at("medium") {
        font-size: 1rem;
    }
}

h1 {
    font-size: 1.4rem;
    position: relative;
    @include break-at("medium") {
        font-size: 3rem;
    }
}

a {
    text-decoration: none;
    transition: 0.18s;
    &:hover {
        text-decoration: none;
        color: var(--primary-bright);
    }
}

ul, ol {
    list-style: none;
}

