body {
    font-family: "Karla", sans-serif;
    line-height: 1.3;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 900;
    color: white;
}

span.typing > * {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

h1 {
    font-size: 8rem;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

ul, ol {
    list-style: none;
}

