@use "breakpoints" as *;

body {
    font-family: "Karla", sans-serif;
    line-height: 1.3;
    color: var(--text-basic);
}

h1, h2, h3,
h4, h5, h6 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
}

p {
    // font-size: .85rem;
    @include break-at("medium") {
        font-size: 1rem;
    }
}

h1 {
    font-size: 1.4rem;
    position: relative;
    @include break-at("medium") {
        font-size: 3rem;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

ul, ol {
    list-style: none;
}

