@use "../globals" as *;

.animated-text {
    cursor: pointer;
    
    width: min-content;

    @include disable-selection;
    // align-self: center;
    white-space: nowrap;
    transition: transform .2s;
    transform-origin: left;

    font-size: 1.4rem;
    font-family: "Space Grotesk";


    @include break-at("thin") {
        font-size: 2rem;
    }
    @include break-at("medium") {
        font-size: 3.2rem;
    }
    @include break-at("large") {
        font-size: 5rem;
    }
    &:hover {
        transform: skew(-10deg) scale(1.2);
    }
}

.greeting-container .hsep {
    min-height: 1px;
    background-color: var(--text-faded);
}

.slanted {
    font-size: .7rem;
    margin-bottom: 1em;

    font-style: italic;
    color: #3daab6;
    &::after {content:"  ↓"}
}