@use "../globals" as *;

.expand-text {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    span {
        display: inline;
        color: var(--text-faded);
        cursor: pointer;
        @include disable-selection;
        &:hover {
            color: var(--primary-bright);
        }
    }
    .hidden {
        display: none;
    }
}