header {
    grid-area: header;
    width: 100%;
    padding: 1rem;

    background-color: #202020;
    border-radius: 1rem;

    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#eg-logo {
    width: 2.4rem;
    z-index: 3;
}