@use "../globals" as *;

.icon-button {
    display: flex;
    gap: .8em;
    align-items: center;
    
    & > p {
        align-self: unset;
        display: block;
        font-weight: 200;
        font-family: "Space Grotesk", sans-serif;
        @include break-at("medium") {
            display: block;
        }
    }
    & > button {
        background-color: transparent;
        // border-radius: 50%;
        width: 2.4em;
        height: 2.4em;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.2s;

        svg {
            color: #fcf0f0;
            font-size: 1.2em;
        }
        &:hover {
            background-color: #fcf0f0;
        }
        &:hover svg {
            color: #202020 !important;
        }
    }
}