@use "../globals" as *;

.icon-button {
    display: flex;
    gap: .8em;
    align-items: center;
    cursor: pointer;

    &.strip {
        flex-direction: row-reverse;
        justify-content: space-between;
        box-shadow: inset 0 0 0 1px var(--primary-faded);
        width: 100%;
        & > button {
            border: none;
            width: 2em;
        }
        &:hover {
            box-shadow: inset 0 0 0 1px var(--primary-solid);
        }
        @include disable-selection;
        @include break-at("thin") {
            padding: 0 1rem;
        }
    }

    &:hover button {
        border-radius: 50%;
    }
    
    & > p {
        cursor: pointer;
        align-self: unset;
        display: block;
        font-weight: 200;
        font-family: "Space Grotesk", sans-serif;
        @include break-at("medium") {
            display: block;
        }
    }
    & > button {
        background-color: transparent;
        // border-radius: 50%;
        cursor: pointer;
        width: 2.4em;
        height: 2.4em;
        border: 1px solid var(--text-basic);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;

        svg {
            color: var(--text-basic);
            font-size: 1.2em;
        }
        &:hover svg {
            color: var(--text-basic);
        }
    }
    * {
        pointer-events: none;
    }
}